* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
   
  margin: 50px 200px;
}
nav ul {
  display: flex;
}

nav li {
  width: 189px;
  height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  list-style: none;
  margin-right: 10px;
}
.btn-hire {
    border-radius: 10px;
  width: 150px;
  height: 64px;
  background-color: #fd6e0a;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  margin-top: -29px;
  border: none;
}
  /* header */
 
  .header{
    width: 1600px;
height: 837px;
    padding: 10px 0px;
   background:#FFF8F3;
   background-image: url('/images/header_bg.png'), url('/images/developer.png');
   background-repeat: no-repeat;
   background-position: bottom right,left;
  
  }

/* bannner */

.banner {
  display: flex;
  margin: 0 200px;
  align-items: center;
}
.banner-title {
  font-style: normal;
  font-weight: 600;
  width: 177px;
  height: 61px;
  font-size: 45px;
  line-height: 61px;
}

.sub-banner-title {
  /* width: 498px;
  height: 116px; */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
}

.banner-description {
  color: #757575;
  margin-bottom: 40px;
}
.Contact-btn{
    top;
    width: 160px;
height: 64px;
}
/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About section styles */

.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding:130px 150px;
    border-radius: 10px;
    text-align: center;
}
.what-i-do-ex{
    margin-top: 80px;
    margin-bottom: 150px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #757575;

}
.section-title{
text-align: center;
margin-bottom: 30px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;
}
.section-description{
 color: #757575;
  font-size: 18px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;

}

.about-info-container{
    display:flex;
    justify-content: space-around;
}

.about-info .title{
    margin-top: 30px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
color:#757575;
}
.about-info  .info-description{
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */

.what-i-do{
    margin-top: 130px;


}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}

.skills-container{
    
    display: flex;
    gap: 24px;
}
.skill-title{
   margin-top: 50px;
   margin-bottom: 30px;
       font-weight: 800;
       font-size: 20px;
}

.skill-description{
   color:#757575;
   font-style: normal;
font-weight: 400;
font-size: 16px;



}


   /* Section Resume */

   .section-title{
    margin-top: 130px;
    margin-bottom: 130px;

    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;

   }


                                                                   /* Resume styles */




.resume-content{



    display: flex;
}



.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}




.resume .title{
  color:  #474747;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
margin-bottom: 10px;
}
.resume .sub-title{
  color:#757575;
  
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
margin-bottom: 20px;
}
.resume .description{
    color: #757575;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;

}

.resume-button{
    margin-top: 50px;
    text-align: center;
}


/* Contact styles */

.contact .section-title{

    tex
}
.contact{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact input{

    margin-bottom: 24px;
    border:0px;
    width: 100%;
    padding: 18px 30px;
}

textarea{
    padding: 18px 30px;
    margin-bottom: 40px;
    width: 100%;
}
input{
    height: 64px;
}

.contact a{
    text-decoration: none;
}